<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %></title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/medium.css" />
    <link rel="stylesheet" href="../css/large.css" />
  </head>
  <body>
    <header>
      <div class="header-grid">
        <h1>My Ecoomerce API</h1>
        <img src="../images/backpack.svg" alt="" />
      </div>
    </header>
    <main>
      <section class="product-page-grid">
        <img src="<%= product.image %>" alt="" />
        <div class="product-page-details">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <p>$<%= product.price %></p>
          <a href="">Buy Now</a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <h4>This is a Demo store.....: Author: Ojo-Osasere Ayodeji Marcus</h4>
      </div>
    </footer>
  </body>
</html>
